<div class="my-connection-cards">
  <% my_connections.each do |connection| %>
    <% user = current_user.id == connection.receiver_id ? connection.requester : connection.receiver %>

    <div class="my-connection-card">
      <div class='row'>
        <div class='col-6'>
          <div class="connection-top">
            <% if user.photo.key? %>
              <%= cl_image_tag user.photo.key, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "connection-user avatar-bordered-profile" %>
            <% else %>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="connection-user avatar-bordered-profile" />
            <% end %>
            <div>
              <h2 class="connection-title"><%= link_to user.name, artist_path(user) %></h2>
              <p class="connection-location"><%= user.location %></p>
            </div>
          </div>
        </div>

        <div class='col'>
          <div class="connection-buttons">

            <%#= link_to fa_icon("fa-regular fa-envelope-open"), connection_path(connection) %>
            <i class="fa-regular fa-envelope-open"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
