<div class="connection-cards">
  <% connections_received.each do |connection| %>
    <% if current_user.id == connection.receiver_id %>
      <%= render partial: "shared/connection_card", locals: {user: connection.requester, connection: connection } %>
    <% else %>
      <%= render partial: "shared/connection_card", locals: {user: connection.receiver, connection: connection } %>
    <% end %>
  <% end %>
</div>
