<h1>Connection Requests</h1>

<ul>
  <% @connections_requested.each do |connection| %>
    <li><%= connection.receiver.email %></li>
  <% end %>
</ul>

<h1>Pending Connections</h1>

<ul>
  <% @connections_received.each do |connection| %>
    <li>
      <%= connection.requester.email %>
      <%= button_to "Accept", connection_accept_path(connection), method: :patch %>
      <%= button_to "Decline", connection_reject_path(connection), method: :patch %>
    </li>
  <% end %>
</ul>
