<div class='container'>
  <h1><%= @artist.name %></h1>
  <h1><%= @artist.email %></h1>
</div>

<div data-controller="submit-connection-request" data-submit-connection-request-user-id-value=<%= current_user.id %>>
  <button data-submit-connection-request-target="connect-button" data-action="click->submit-connection-request#send">
    Connect
  </button>
</div>
