.connections-container {
  max-width: 524px;
  margin: 0 auto;
}

.connections_title {
  font-size: 32px;
  font-weight: 700;

  .my {
      color: #90C8AC;
  }

  .requests {
      color: #FFBE5B;
      // color: #FB651E;
  }

  .pending {
      color: #7BB146;
  }
}

.connection-type {
  padding-top: 10px;
  padding-bottom: 10px;
}
