.project-page-top {
  // border: 1px solid red;
  height: 900px;
  width: 80%;
  margin: auto;


  .project-page-banner {
    height: 80%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: flex-end;

    .project-page-basic-info {
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      margin-left: 30px;

      .project-page-name {
        font-size: 50px;
        font-weight: bold;
        color: white;
        margin-bottom: 0px;
      }

      .project-page-location {
        font-size: 30px;
        font-weight: bold;
        color: #FB651E;
      }
    }
  }
  .project-page-content {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    height: 180px;
    // border: 1px solid rgb(6, 154, 16);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;

    .project-left-content {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      background-color: #e1e1e1;
      margin: 20px 0px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      // padding: 0px 15px 15px 15px;
      width: 345px;
      padding: 15px;

      .project-page-users {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        margin: auto;
        // margin: 20px 50px;
        // margin-right: 20px;
        // margin-left: 5px;
        // border: 1px solid rgb(6, 154, 16);

        .project-page-user {
          flex: none;
          margin: 0px -20px;
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
        }
      }

      .project-buttons {
        display: flex;
      }
    }

    .project-page-bio {
      font-size: 15px;
      margin: 20px 0px;
      // width: 71%;
      // height: 180px;
      // max-width: 400px;
      border-radius: 5px;
      padding: 15px;
      // min-height: 100px;
      word-break: break-word;
      background-color: #e1e1e1;
      // overflow: auto;
      // border: 1px solid rgb(6, 154, 16);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
  }
}

.project-page-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid black; */
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  // padding: 30px;
  column-gap: 30px;
  width: 1318px;
  margin: 50px auto;

  .project-section {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 10px;
    width: 345px;
    // height: 800px;
    height: max-content;
  }
}

.container-project {
  max-width: 1728px;
  padding: 0 40px;
  margin: 0 auto;
}

.project-section-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.project-calendar {
  // height: 210px;
  // // border: 2px solid black;
  // background-color: #e1e1e1;
  // border-radius: 5px;
}

.project-media {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#calendarTitle {
  font-family: Arial,sans-serif;
  font-weight: bold;
  padding-left: 4px;
  margin-bottom: 10px;
}

// .submitted {
//   background-color: orange;
// }
