<div class="banner">
  <div class="container">
    <div class="logo">
    </div>
    <div class="anthem">
      <h1>
        <strong>Join Forces, </strong><strong>Make Music.</strong>
      </h1>
      <p>The only place where musicians get to connect and create awesome music!</p>
      <div class="col-sm-8 my-3">
        <%= render "shared/search_bar" %>
      </div>
    </div>
    <!-- <p><%= link_to 'list of all artists', artists_path %></p> -->
  </div>
</div>
<div class="container">
  <div class="homepage-container">
    <div class="homepage-subcontainer">
      <h2 class="cards-title">Suggested <span class="musicians-title">Musicians</span></h2>

      <div class="profile-cards">
        <% 5.times do %>
          <%= render partial: "shared/profile_card", locals: {user: @suggested_users.sample} %>
        <% end %>
      </div>
    </div>
    <div class="homepage-subcontainer">
      <h2 class="cards-title">New <span class="projects-title">Projects</span></h2>

      <div class="project-cards">
        <% 16.times do %>
          <%= render "shared/project_card" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# @suggested_users.each do |artist| %>
  <p><%#= artist.email %></p>
<%# end %>