<head>
  <title>My Projects</title>
</head>

<div class="container">
  <div class="homepage-container">
    <div class="homepage-subcontainer">
      <h2 class="cards-title">My <span class="projects-title">Projects</span></h2>
      <div class="project-cards">
        <% @my_projects.each do |project| %>
        <%# raise %>
          <%= render partial: "shared/project_card", locals: {project: project.project} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
