.profile-card {
  width: 252px;
  height: 356px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;

  .profile-banner {
    height: 142px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 13px;
    // opacity: .7;
    margin: 0;
  }


  .profile-top {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #E4E5E7;

    .profile-title{
      font-weight: 600;
    }

    .profile-location{
      font-weight: 600;
      color: #FB651E;
    }

    .profile-user {
      margin-right: 10px;
    }
  }

  .profile-bio {
    padding: 10px;
    height: 96px;
  }

  .profile-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #E4E5E7;

    .profile-instruments {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .instrument-icons {
        display: flex;
        .instrument-icon {
          font-size: 17px;
        }
      }
    }

    .profile-genres {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      .genre-pill {
        width: 48px;
        height: 19px;
        // background-color: "#{@artists.first.genres.first.colour}";
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: auto;
        font-size: 13px;
        color: white;
        font-weight: 500;
      }
    }
  }
}
