// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/background";
@import "config/bootstrap_icons";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.content-wrapper {
  background-color: white;
  padding-top: 66px;
  min-height: calc(100vh - 100px);
  // padding-bottom: 100px;
  position: relative;
}

p, h1, h2, h3, h4 {
  color: #222222;
}
