<li class="nav-item dropdown" data-controller="update-notifications" data-update-notifications-user-id-value="<%=current_user.id%>">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
  role="button" data-bs-toggle="dropdown" aria-expanded="false"
  data-action="click->update-notifications#updateCount" style="padding: 0px; margin-right: 9px;">
    <span class="badge rounded-pill bg-success" style="padding-top: 12px; padding-bottom: 12px;">
      <i class="bi bi-bell-fill" style="font-size: 18px;"></i>
      <span data-update-notifications-target="notificationsCount"><%= @unread.count >= 9 ? "9+" : @unread.count %></span>
    </span>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg-end mt-2" style="border-radius: 8px;" aria-labelledby="navbarDropdown" data-update-notifications-target="notifications">
    <% @unread.each do |notification| %>
      <%= render 'layouts/notification', notification: notification %>
    <% end %>
    <% if @read.count > 0 && @unread.count > 0 %>
      <li>
        <hr class="dropdown-divider">
      </li>
    <% elsif @read.count + @unread.count == 0 %>
      <li class="dropdown-item">
        No notifications yet.
      </li>
    <% end %>
    <% @read.each do |notification| %>
      <%= render 'layouts/notification', notification: notification %>
    <% end %>
  </ul>
</li>
